extends layout

block header
  script(src='/javascripts/pre-load.js')
  script(src='/javascripts/lib/jquery-2.2.0.min.js')
  script(src='/javascripts/lib/three.min.js')
  script(src='/javascripts/lib/OrbitControls.js')
  script(src='/javascripts/lib/underscore-min.js')
  script(src='/javascripts/render/scene.js')
  script(src='/javascripts/script/class.js')
  script(src='/javascripts/script/event-emitter.js')

block content
  script(src='/javascripts/main.js')
