doctype html
html
  head
    meta(charset="utf-8")
    title  4J-Class-Project
    link(rel="stylesheet", type="text/css" href="/stylesheets/index-style.css")

  body
  div#wrapper
    h1.title
     <span>4</span>.<span>J</span>S</h1>
    p Your magic experience
    h3.pages
     a(href="https://github.com/13J-Programmers/4J-class-project", target="_blank") view On Github
    h3.pages
     a(href="game/" target="_blank") Demo Game
